body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #c2b7ae;
}

.container {
  position: relative;
  text-align: center;
}

.wedding-card {
  max-width: 100%;
  height: auto;
}

/* Existing button styles */
.map-button {
  position: absolute;
  bottom: 1px; /* Keep this for the first button */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(174, 110, 84, 1);
  cursor: pointer;
  transition: background-color 0.3s;
}

.map-button a {
  color: rgba(174, 110, 84, 1);
  text-decoration: underline;
}

.map-button:hover {
  background-color: rgba(174, 110, 84, 0.1);
}

/* Additional button styles */
#deedarBtn {
  position: absolute;
  bottom: 35px; /* Adjust this to your desired position */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(174, 110, 84, 1);
  cursor: pointer;
  transition: background-color 0.3s;
}

#deedarBtn a {
  color: rgba(174, 110, 84, 1);
  text-decoration: underline;
}

#deedarBtn:hover {
  background-color: rgba(174, 110, 84, 0.1);
}






